.footer {
  background-color: #131212;
  padding: 20px 0 40px 0;

  & .container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
  }

  &-logo {
    margin-right: 30px;
  }

  &__links {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & a {
      transition: 200ms ease;

      &:hover {
        color: #aaaaaa;
      }
    }
  }
}