.header {
  background-image: url("./images/header-bg(2).jpg");
  background-repeat: no-repeat;
  height: 950px;
  background-size: cover;
  background-position: bottom center;
  padding-top: 20px;

  &-container {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      cursor: pointer;
    }
  }

  &-nav {
    display: flex;
    justify-content: space-between;
    width: 530px;

    &.active {
      display: block;
    }
  }

  &-nav a {
    font-size: 14px;
    transition: 200ms ease;

    &:hover {
      color: #c1c1c1;
    }
  }

  &-extra__content {
    width: 150px;
    display: flex;
    justify-content: space-between;

    &-languages {
      display: flex;
      align-items: center;
      cursor: pointer;

      &__text {
        font-size: 14px;
        margin-right: 5px;
      }
    }

    &-links__xBox {
      margin-right: 5px;
    }
  }

  &__content {
    margin-top: 180px;
    text-align: center;

    &-title {
      font-size: 80px;
    }

    &-subtitle {
      font-size: 24px;
    }

    &-button {
      margin-top: 25px;
    }
  }

  &__footer {
    width: fit-content;
    font-weight: bold;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 400px;

    &-img {
      margin: 8px 0 0 20px;
    }
  }
}