.subscribe {
  background-color: #131212;

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 0;

    &-info__text {
      width: 591px;

      & .paragraph {
        margin: 40px 0;
      }
    }

    &-info__action {
      display: flex;
      justify-content: space-between;

      &-input input {
        width: 380px;
        padding: 15px 26px;
        transition: 200ms ease;

        &:focus {
          background-color: #3e3d3d;
        }
      }

      &-button button {
        padding: 15px 35px;
      }
    }
  }
}